<div class="booking-container">
  <h2>Create Booking</h2>

  <form [formGroup]="bookingForm">
    <label> Destination </label>
    <select formControlName="destinationId" (change)="onDestinationChange()">
      <option value="">Select Destination</option>

      @for (destination of destinations; track destination.id) {
        <option [value]="destination.id">
          {{ destination.name }}
        </option>
      }
    </select>

    <label> Travel Service </label>
    <select formControlName="serviceId" (change)="onServiceChange()">
      <option value="">Select Service</option>

      @for (service of filteredServices; track service.id) {
        <option [value]="service.id">
          {{ service.serviceName }}
        </option>
      }
    </select>

    <label> Travel Date </label>
    <input type="date" formControlName="travelDate" />
  </form>

  <h3>Select Travelers</h3>
  @for (traveler of travelers; track traveler.id) {
    <div>
      <input type="checkbox" [value]="traveler.id" (change)="toggleTraveler(traveler.id, $event)" />
      {{ traveler.fullName }}
      ({{ traveler.relationship }})
    </div>
  }

  @if (availability) {
    <h4>
      Available Slots: {{ availability.availableSlots }}
    </h4>
  }

  <h3>Total Price: ₹{{ totalPrice }}</h3>
  <button (click)="proceedToReview()" [disabled]="bookingForm.invalid || selectedTravelerIds.length === 0">
    Review Booking
  </button>
</div>
