<div class="day-timeline-card-node">
  <div class="node-marker-badge">
    <span class="day-label">DAY</span>
    <span class="day-num">{{ dayPlan.dayNumber }}</span>
  </div>

  <div class="node-main-content">
    <div class="node-timestamp">{{ dayPlan.date | date:'fullDate' }}</div>
    
    <app-transport 
      [type]="dayPlan.transportType"
      [from]="dayPlan.transportFrom"
      [to]="dayPlan.transportTo"
      [time]="dayPlan.transportTime">
    </app-transport>

    <app-accommodation 
      [hotelName]="dayPlan.hotel"
      [checkInTime]="dayPlan.checkInTime">
    </app-accommodation>

    <app-activity-list 
      [activities]="dayPlan.activities">
    </app-activity-list>
  </div>
</div>